@model OrbitStore.Web.Data.BinderHistory

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>BinderHistory</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Path)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Path)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AuditAction)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AuditAction)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AuditDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AuditDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AuditUser)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AuditUser)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AuditApp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AuditApp)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.AuditId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
